<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <title>The Restaurant Community</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
</head>

<style>
    .container {
        margin: auto;
        width: 100%;
    }
    
    #logo {
        margin: auto;
        width: 50%;
    }
</style>

<body>
    <div class="container"><img id="logo" src="assets/logo.png" alt="LOGO"></div>
</body>

</html>